@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Regular.ttf") format("truetype");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Loader */
#loader {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 9;
  position: fixed;
}

.loader {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.loader-page {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #444444, 1.8em -1.8em 0 0em rgba(68, 68, 68, 0.2), 2.5em 0em 0 0em rgba(68, 68, 68, 0.2), 1.75em 1.75em 0 0em rgba(68, 68, 68, 0.2), 0em 2.5em 0 0em rgba(68, 68, 68, 0.2),
      -1.8em 1.8em 0 0em rgba(68, 68, 68, 0.2), -2.6em 0em 0 0em rgba(68, 68, 68, 0.5), -1.8em -1.8em 0 0em rgba(68, 68, 68, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(68, 68, 68, 0.7), 1.8em -1.8em 0 0em #444444, 2.5em 0em 0 0em rgba(68, 68, 68, 0.2), 1.75em 1.75em 0 0em rgba(68, 68, 68, 0.2), 0em 2.5em 0 0em rgba(68, 68, 68, 0.2),
      -1.8em 1.8em 0 0em rgba(68, 68, 68, 0.2), -2.6em 0em 0 0em rgba(68, 68, 68, 0.2), -1.8em -1.8em 0 0em rgba(68, 68, 68, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(68, 68, 68, 0.5), 1.8em -1.8em 0 0em rgba(68, 68, 68, 0.7), 2.5em 0em 0 0em #444444, 1.75em 1.75em 0 0em rgba(68, 68, 68, 0.2), 0em 2.5em 0 0em rgba(68, 68, 68, 0.2),
      -1.8em 1.8em 0 0em rgba(68, 68, 68, 0.2), -2.6em 0em 0 0em rgba(68, 68, 68, 0.2), -1.8em -1.8em 0 0em rgba(68, 68, 68, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(68, 68, 68, 0.2), 1.8em -1.8em 0 0em rgba(68, 68, 68, 0.5), 2.5em 0em 0 0em rgba(68, 68, 68, 0.7), 1.75em 1.75em 0 0em #444444, 0em 2.5em 0 0em rgba(68, 68, 68, 0.2),
      -1.8em 1.8em 0 0em rgba(68, 68, 68, 0.2), -2.6em 0em 0 0em rgba(68, 68, 68, 0.2), -1.8em -1.8em 0 0em rgba(68, 68, 68, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(68, 68, 68, 0.2), 1.8em -1.8em 0 0em rgba(68, 68, 68, 0.2), 2.5em 0em 0 0em rgba(68, 68, 68, 0.5), 1.75em 1.75em 0 0em rgba(68, 68, 68, 0.7), 0em 2.5em 0 0em #444444,
      -1.8em 1.8em 0 0em rgba(68, 68, 68, 0.2), -2.6em 0em 0 0em rgba(68, 68, 68, 0.2), -1.8em -1.8em 0 0em rgba(68, 68, 68, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(68, 68, 68, 0.2), 1.8em -1.8em 0 0em rgba(68, 68, 68, 0.2), 2.5em 0em 0 0em rgba(68, 68, 68, 0.2), 1.75em 1.75em 0 0em rgba(68, 68, 68, 0.5), 0em 2.5em 0 0em rgba(68, 68, 68, 0.7),
      -1.8em 1.8em 0 0em #444444, -2.6em 0em 0 0em rgba(68, 68, 68, 0.2), -1.8em -1.8em 0 0em rgba(68, 68, 68, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(68, 68, 68, 0.2), 1.8em -1.8em 0 0em rgba(68, 68, 68, 0.2), 2.5em 0em 0 0em rgba(68, 68, 68, 0.2), 1.75em 1.75em 0 0em rgba(68, 68, 68, 0.2), 0em 2.5em 0 0em rgba(68, 68, 68, 0.5),
      -1.8em 1.8em 0 0em rgba(68, 68, 68, 0.7), -2.6em 0em 0 0em #444444, -1.8em -1.8em 0 0em rgba(68, 68, 68, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(68, 68, 68, 0.2), 1.8em -1.8em 0 0em rgba(68, 68, 68, 0.2), 2.5em 0em 0 0em rgba(68, 68, 68, 0.2), 1.75em 1.75em 0 0em rgba(68, 68, 68, 0.2), 0em 2.5em 0 0em rgba(68, 68, 68, 0.2),
      -1.8em 1.8em 0 0em rgba(68, 68, 68, 0.5), -2.6em 0em 0 0em rgba(68, 68, 68, 0.7), -1.8em -1.8em 0 0em #444444;
  }
}
