body {
  width: 100%;
  height: 100vh;
}
.container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
  padding-bottom: 14rem;
}
/* Header */
.header-nav {
  position: fixed;
  background-color: #fff;
  display: flex;
  width: 100%;
  align-items: center;
  font-weight: bold;
  color: #000;
  font-size: 14px;
  box-sizing: border-box;
  top: 0;
  z-index: 2;
}

.header-nav .title {
  width: 100%;
  margin: auto;
  padding: 30px 0 30px 0;
  display: flex;
}

.header-nav .icon {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 20px;
  top: 20px;
}

.header-nav p {
  margin: auto;
}

.header-nav a {
  text-decoration: none;
}

.header-nav a i {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 99px;
  width: 35px;
  height: 35px;
  padding: 8px;
  background-color: #f2f2f2;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}

/* content */
.profil {
  margin-top: 6rem;
  text-align: center;
}
.profil .name {
  margin-top: 1rem;
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.profil .mapel {
  margin-top: 1rem;
  font-size: 0.6875rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #707070;
}
.content {
  background-color: #f2f2f2;
  padding: 0.75rem 0.5rem 0.75rem 0.5rem;
  margin: 1rem 1.81rem 0rem 1.81rem;
  border-radius: 0.75rem;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
}

.content .item {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 3fr));
  color: #fff;
  font-weight: 400;
  text-align: center;
  gap: 1rem;
}

.content .item2 {
  background-color: #fff;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.635rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
}
.item2 p {
  font-size: 0.875rem;
  font-weight: 500;
}
.item2 :last-child {
  color: #ffb053;
  font-weight: 500;
}
.content .sub-item {
  background-color: #363f5e;
  border-radius: 1rem;
  padding: 1rem 1rem 1rem 1rem;
}
.sub-item2 {
  background-color: #ffb053;
  border-radius: 1rem;
  padding: 1rem 1rem 1rem 1rem;
}
.sub-item3 {
  background-color: rgba(0, 127, 255, 1);
  border-radius: 1rem;
  padding: 1rem 1rem 1rem 1rem;
}
.sub-item iconify-icon {
  background-color: #ffffff41;
  padding: 0.5rem;
  border-radius: 100%;
  margin-bottom: 1rem;
}
.sub-item2 iconify-icon {
  background-color: #ffffff41;
  padding: 0.5rem;
  border-radius: 100%;
  margin-bottom: 1rem;
}
.sub-item3 iconify-icon {
  background-color: #ffffff41;
  padding: 0.5rem;
  border-radius: 100%;
  margin-bottom: 1rem;
}
.sum {
  padding-top: 0.5rem;
  font-weight: 600;
}
.nav {
  display: flex;
  gap: 1.5rem;
  margin: 1.5rem 1.81rem 1.5rem 1.81rem;
  color: #b1a7a6;
  font-size: 1.125rem;
  font-weight: 500;
}
.nav a {
  text-decoration: none;
  color: #b1a7a6;
}
.nav .nav-active {
  color: #000000;
  text-decoration: underline;
  font-size: 1.125rem;
  font-weight: 600;
}

.ujian {
  background-color: #f2f2f2;
  margin: 1.5rem 1.81rem 1.5rem 1.81rem;
  padding: 0.5rem 1rem;
  border-radius: 0.625rem;
  display: flex;
  gap: 1rem;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
}
.ujian iconify-icon {
  color: #4e53c9;
  background-color: #fff;
  border-radius: 0.25rem;
  padding: 0.5rem;
}
.ujian p {
  margin-top: -0.5rem;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 200;
}
.ujian :first-child {
  margin: 1rem 0rem 1rem 0rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
}
.ujian:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.materi {
  background-color: #f2f2f2;
  margin: 0rem 1.81rem 1.5rem 1.81rem;
  padding: 1.5rem 1rem;
  border-radius: 0.625rem;
  display: flex;
  gap: 1rem;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
}
.materi a {
  text-decoration: none;
  color: #000;
}
.materi iconify-icon {
  color: #ffb053;
  background-color: #fff;
  border-radius: 0.25rem;
  padding: 0.5rem;
}
.materi p {
  margin-top: 0.65rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
}
.materi:hover {
  transform: scale(1.06);
  transition: 0.2s;
}
/* bar */
.bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  border-top: 2px solid #ededed;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #fff;
}
.bar a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  text-decoration: none;
}

.bar a:hover iconify-icon {
  color: #007fff;
  filter: drop-shadow(0 5px 2px #a4a8ad);
}

.bar iconify-icon {
  color: #a4a8ad;
}

.bar a .active {
  color: #007fff;
  filter: drop-shadow(0 5px 2px #a4a8ad);
}

/* responsive tablet */
@media (min-width: 768px) {
  .header-nav {
    font-size: 18px;
  }
  .profil .name {
    font-size: 1.25rem;
  }
  .profil .mapel {
    font-size: 0.7875rem;
  }
  .item2 p {
    font-size: 0.975rem;
    font-weight: 500;
  }
  .nav {
    display: flex;
    gap: 1.5rem;
    margin: 1.75rem 1.81rem 1.75rem 1.81rem;
    color: #b1a7a6;
    font-size: 1.155rem;
    font-weight: 500;
  }
  .nav .nav-active {
    font-size: 1.155rem;
  }
}
