body {
  height: 100vh;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
}

/* Modal */
.modal {
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  box-sizing: border-box;
  background: rgba(144, 144, 144, 0.6);
  z-index: 99;
  display: none;
}

.modal-page {
  width: 90%;
  background-color: #fff;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  word-wrap: break-word;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  padding: 30px 30px;
  text-align: justify;
  margin: auto;
  border-radius: 10px;
}

.modal-page .title {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.modal-page .deskripsi {
  color: #b4b4b4;
  text-align: justify;
  font-size: 14px;
  font-weight: 500;
  margin: 16px 0 28px 0;
}

.modal-page .tombol {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.modal-page .tombol button.batal {
  border: none;
  background-color: #fff;
  color: rgba(0, 127, 255, 1);
  font-size: 16px;
  font-weight: 700;
  padding: 8px 16px;
}

.modal-page .tombol button.batal:hover {
  background: rgba(0, 127, 255, 0.2);
  color: white;
  border-radius: 10px;
  padding: 8px 16px;
  transition: 0.2s;
}

.modal-page .tombol button.quit {
  border: none;
  border-radius: 10px;
  padding: 8px 16px;
  background-color: rgba(0, 127, 255, 1);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.modal-page .tombol button.quit:hover {
  background: rgba(0, 127, 255, 0.7);
  transition: 0.2s;
}

/* Header */
.header {
  width: 100%;
  padding: 0 7.5%;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  top: 0;
  position: fixed;
  border-bottom: 2px solid #ededed;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 1;
}

.header .atas {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .atas .waktu {
  display: flex;
  gap: 10px;
  background-color: #e6e6e6;
  border-radius: 10px;
  padding: 10px;
  color: #ff1700;
  font-size: 16px;
  font-weight: 600;
}

.header .atas .keluar button {
  border: none;
  border-radius: 10px;
  background: #ff1700;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 16px;
}

.header .atas .keluar button:hover {
  background: rgba(255, 23, 0, 0.6);
  transition: 0.2s;
}

.header .bawah {
  width: 100%;
  margin: 16px 0 0 0;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.header .bawah button {
  color: #909090;
  font-size: 16px;
  font-weight: 400;
  border: none;
  background-color: transparent;
}

.header .bawah button.active {
  font-size: 16px;
  font-weight: 600;
  color: #007fff;
  text-decoration: underline;
}

/* Isi */
.isi {
  width: 85%;
  height: max-content;
  margin: 120px auto auto auto;
  padding-bottom: 100px;
}

.isi .tab-content {
  display: none;
}

.isi .tab-content .list,
.isi .tab-content .list-essay {
  margin: 24px 0;
}

.isi .tab-content .list .title {
  color: #909090;
  font-size: 12px;
  font-weight: 500;
  margin: 0 0 6px 0;
}

.isi .tab-content .list .kotak {
  border-radius: 8px;
  border: 2px solid rgba(0, 127, 255, 0.2);
  background: #fff;
  padding: 20px 28px;
  box-sizing: border-box;
}

.isi .tab-content .list .kotak img,
.isi .tab-content .list .kotak video,
.isi .tab-content .list .kotak audio {
  width: 100%;
  border-radius: 10px;
}

.list .kotak .soal {
  color: #000;
  text-align: justify;
  font-size: 16px;
  font-weight: 500;
  margin: 12px 0;
}

.list .kotak .jawaban {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}

.list .kotak .jawaban .pilihan input[type="radio"] {
  display: none;
}

.list .kotak .jawaban .pilihan label {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 0 0 0;
  padding: 10px 0;
}

.list .kotak .jawaban .pilihan label:before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid rgba(108, 117, 125, 0.52);
  border-radius: 99px;
  margin: 0 12px 0 12px;
}

.list .kotak .jawaban .pilihan input[type="radio"]:checked + label {
  border-radius: 10px;
  background: rgba(0, 127, 255, 0.2);
}
.list .kotak .jawaban .pilihan input[type="radio"]:checked + label:before {
  background: rgba(0, 127, 255, 0.4);
  border: 1px solid rgba(0, 127, 255, 0.2);
  outline: none;
}

.list-essay .title {
  color: #909090;
  font-size: 12px;
  font-weight: 500;
  margin: 0 0 6px 0;
}

.list-essay .kotak {
  border-radius: 8px;
  border-left: 5px solid rgba(0, 127, 255, 1);
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px 28px;
  color: #000;
  text-align: justify;
  font-size: 16px;
  font-weight: 500;
}

.list-essay .kotak textarea {
  color: #000;
  text-align: justify;
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat";
  box-sizing: border-box;
  width: 100%;
  margin: 12px 0 0 0;
  border-radius: 4px;
  border: 2px solid rgba(108, 117, 125, 0.2);
}

.list-essay .kotak .tombol {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.list-essay .kotak button {
  display: flex;
  width: 80px;
  height: 36px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  background: rgba(0, 127, 255, 1);
  outline: none;
  border: none;
  color: #ffff;
  font-size: 14px;
  margin: 6px 0 0 0;
}

.list-essay .kotak button:hover {
  background: rgba(0, 127, 255, 0.6);
  transition: 0.2s;
}

.list-essay .kotak textarea:focus {
  outline: none;
  border: 2px solid rgba(0, 127, 255, 0.2);
  background: #f5f5f5;
}

.quiz-navigasi {
  border-radius: 8px;
  border: 2px solid rgba(0, 127, 255, 0.2);
  background: #fff;
  padding: 20px 20px;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  margin: 120px 0 0 0;
}

.quiz-navigasi p:first-child {
  font-weight: 600;
  font-size: 16px;
}

.quiz-navigasi button {
  text-decoration: none;
  color: black;
  background-color: rgba(179, 183, 188, 0.3);
  border-radius: 99px;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  margin: 5px 0;
}

.quiz-navigasi button.active {
  background-color: rgba(0, 127, 255, 0.8);
  color: #fff;
}

.quiz-navigasi .nomor {
  margin: 16px 0;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 72px;
  border-top: 2px solid #ededed;
  position: fixed;
  bottom: 0;
  z-index: 1;
  padding: 12px 7.5%;
  box-sizing: border-box;
  background-color: #fff;
}

.footer .deskripsi {
  width: 60%;
  word-wrap: break-word;
}

.footer .deskripsi p:first-child {
  color: #000;
  font-size: 12px;
  font-weight: 600;
}

.footer .deskripsi p:last-child {
  color: #9f9f9f;
  font-size: 10px;
  font-weight: 600;
  margin: 10px 0;
}

.footer .navigasi {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
}

.footer .navigasi button {
  border: none;
  background: transparent;
  color: rgba(0, 127, 255, 1);
}

.footer .navigasi button:hover {
  transform: scale(1.25);
  transition: 0.2s;
}

@media (min-width: 768px) {
  /* Modal */
  .modal-page .title {
    font-size: 18px;
  }

  .modal-page .deskripsi {
    font-size: 16px;
  }

  .modal-page .tombol button.batal {
    font-size: 18px;
    padding: 12px 20px;
  }
  .modal-page .tombol button.batal:hover {
    padding: 12px 20px;
  }

  .modal-page .tombol button.quit {
    font-size: 18px;
    padding: 12px 20px;
  }

  /* Header */
  .header {
    height: 120px;
  }

  .header .atas .waktu {
    font-size: 18px;
    padding: 12px;
    gap: 12px;
  }

  .header .atas .keluar button {
    font-size: 18px;
  }

  .header .bawah button {
    font-size: 18px;
  }

  .header .bawah button.active {
    font-size: 18px;
  }

  /* Isi */
  .isi {
    margin-top: 135px;
  }

  .isi .tab-content .list .title {
    font-size: 14px;
  }

  .isi .tab-content .list .kotak img,
  .isi .tab-content .list .kotak video,
  .isi .tab-content .list .kotak audio {
    width: 80%;
    border-radius: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .list .kotak .soal {
    font-size: 18px;
    margin: 16px 0;
  }

  .list .kotak .jawaban .pilihan label {
    font-size: 18px;
  }

  .list-essay .title {
    font-size: 14px;
  }

  .list-essay .kotak {
    font-size: 18px;
  }

  .list-essay .kotak textarea {
    font-size: 18px;
  }

  .quiz-navigasi p:first-child {
    font-size: 18px;
  }

  .quiz-navigasi button {
    font-size: 16px;
    width: 34px;
    height: 34px;
    margin: 8px 4px;
  }

  /* Footer */
  .footer .deskripsi p:first-child {
    font-size: 16px;
  }

  .footer .deskripsi p:last-child {
    font-size: 12px;
  }
}
