html,
body {
  overflow-x: hidden;
}
body {
  background: linear-gradient(359deg, #007fff 0%, rgba(0, 127, 255, 0.4) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: max-content;
}

.container .image1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .image1 img:nth-child(1) {
  width: 105px;
  height: 99spx;
  rotate: 20.292deg;
  position: relative;
  bottom: 10px;
  right: 40px;
}

.container .image1 img:nth-child(2) {
  width: 165px;
  height: 110px;
  rotate: 107deg;
  position: relative;
  left: 90px;
  bottom: 50px;
}

.container .image2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.container .image2 img:nth-child(1) {
  width: 135px;
  height: 135px;
  position: relative;
  bottom: 40px;
}

.container .image2 img:nth-child(2) {
  width: 275px;
  height: 275px;
  position: relative;
  left: 10px;
}

.container .image2 img:nth-child(3) {
  width: 130px;
  height: 145px;
  position: relative;

  bottom: 120px;
}

.container .image3 {
  display: flex;
  justify-content: space-between;
  height: 110px;
}

.container .image3 img:nth-child(1) {
  width: 160px;
  height: 170px;
  transform: rotate(31deg);
  position: relative;
  right: 80px;
  bottom: 50px;
}

.container .image3 img:nth-child(2) {
  width: 128px;
  height: 100px;
  position: relative;
  left: 100px;
  bottom: 20px;
}

.container .box {
  width: 90%;
  display: flex;
  height: 375px;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(100px);
  margin-bottom: 4%;
  margin-top: 4rem;
}

.container .box .divider {
  width: 120px;
  display: flex;
  margin: 20px auto 30px;
  background-color: rgba(255, 255, 255, 0.5);
  height: 3px;
}

.container .box .logo-lms img {
  margin: 0 0 35px 0;
}

.container .box .content .judul {
  font-weight: 600;
  margin-bottom: 30px;
  color: #036;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.44px;
}

.container .box .content .isi {
  color: #000;
  text-align: center;
  width: 281px;
  height: 75px;
  flex-shrink: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.12px;
  margin: 0 auto 25px;
}

.container .box .button {
  margin-bottom: 50px;
}

.container .box .button a {
  color: #003e7c;
  padding: 12px 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.44px;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 50px;
  background: #fff;
}
