<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../css/guru.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
    <title>Guru</title>
  </head>
  <body>
    <!-- Loader -->
    <div id="loader">
      <div class="loader">
        <span class="loader-page"></span>
      </div>
    </div>

    <!-- Header -->
    <div class="container">
      <div class="header">
        <p>Guru dan Mapel</p>
      </div>
      <!-- Top Body -->
      <div class="top-body">
        <img src="../../img/guru.png" alt="Gambar" />
        <div class="content">
          <p>“Setiap orang menjadi guru, setiap rumah menjadi sekolah.”</p>
          <p>Ki Hajar Dewantara</p>
          <img src="../../img/notepad.png" alt="" class="idea">
        </div>
      </div>
      <!-- Search dan Guru -->
      <div class="body-content">
        <div class="search">
          <div class="icon">
            <iconify-icon icon="iconamoon:search-light" width="20px" style="color: #868686"></iconify-icon>
          </div>
          <div class="input">
            <input type="text" name="cari" id="cari" placeholder=" Search..." />
          </div>
        </div>
        <!-- Guru -->
        <a href="./summary-topik.html">
          <div class="guru box1">
            <div class="content">
              <div class="nama">
                <p>Wagimin, S.Pd, M.Pd</p>
                <p>Pendidikan Pancasila dan Kewarganegaraan</p>
              </div>
              <div class="foto">
                <img src="../../img/teacher2.jpg" alt="Foto Guru" />
              </div>
            </div>
          </div>
        </a>
        <a href="./summary-topik.html">
          <div class="guru box2">
            <div class="content">
              <div class="nama">
                <p>Wagimin, S.Pd, M.Pd</p>
                <p>Pendidikan Pancasila dan Kewarganegaraan</p>
              </div>
              <div class="foto">
                <img src="../../img/teacher2.jpg" alt="Foto Guru" />
              </div>
            </div>
          </div>
        </a>
        <a href="./summary-topik.html">
          <div class="guru box3">
            <div class="content">
              <div class="nama">
                <p>Wagimin, S.Pd, M.Pd</p>
                <p>Pendidikan Pancasila dan Kewarganegaraan</p>
              </div>
              <div class="foto">
                <img src="../../img/teacher2.jpg" alt="Foto Guru" />
              </div>
            </div>
          </div>
        </a>
        <a href="./summary-topik.html">
          <div class="guru box1">
            <div class="content">
              <div class="nama">
                <p>Wagimin, S.Pd, M.Pd</p>
                <p>Pendidikan Pancasila dan Kewarganegaraan</p>
              </div>
              <div class="foto">
                <img src="../../img/teacher2.jpg" alt="Foto Guru" />
              </div>
            </div>
          </div>
        </a>
        <a href="./summary-topik.html">
          <div class="guru box2">
            <div class="content">
              <div class="nama">
                <p>Wagimin, S.Pd, M.Pd</p>
                <p>Pendidikan Pancasila dan Kewarganegaraan</p>
              </div>
              <div class="foto">
                <img src="../../img/teacher2.jpg" alt="Foto Guru" />
              </div>
            </div>
          </div>
        </a>
        <a href="./summary-topik.html">
          <div class="guru box3">
            <div class="content">
              <div class="nama">
                <p>Wagimin, S.Pd, M.Pd</p>
                <p>Pendidikan Pancasila dan Kewarganegaraan</p>
              </div>
              <div class="foto">
                <img src="../../img/teacher2.jpg" alt="Foto Guru" />
              </div>
            </div>
          </div>
        </a>
        <a href="./summary-topik.html">
          <div class="guru box1">
            <div class="content">
              <div class="nama">
                <p>Wagimin, S.Pd, M.Pd</p>
                <p>Pendidikan Pancasila dan Kewarganegaraan</p>
              </div>
              <div class="foto">
                <img src="../../img/teacher2.jpg" alt="Foto Guru" />
              </div>
            </div>
          </div>
        </a>
        <a href="./summary-topik.html">
          <div class="guru box2">
            <div class="content">
              <div class="nama">
                <p>Wagimin, S.Pd, M.Pd</p>
                <p>Pendidikan Pancasila dan Kewarganegaraan</p>
              </div>
              <div class="foto">
                <img src="../../img/teacher2.jpg" alt="Foto Guru" />
              </div>
            </div>
          </div>
        </a>
        <a href="./summary-topik.html">
          <div class="guru box3">
            <div class="content">
              <div class="nama">
                <p>Wagimin, S.Pd, M.Pd</p>
                <p>Pendidikan Pancasila dan Kewarganegaraan</p>
              </div>
              <div class="foto">
                <img src="../../img/teacher2.jpg" alt="Foto Guru" />
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- Bar -->
      <div class="bar">
        <a href="../Dashboard/" class="home">
          <iconify-icon icon="mingcute:home-5-fill" width="30" height="30"></iconify-icon>
        </a>
        <a href="./index.html" class="guru">
          <iconify-icon icon="fa6-solid:user-group" width="30" height="30" class="active"></iconify-icon>
        </a>
        <a href="../Notifikasi/" class="notif">
          <iconify-icon icon="ion:notifications" width="30" height="30"></iconify-icon>
        </a>
        <a href="../Profile/" class="profile">
          <iconify-icon icon="heroicons-solid:user" width="30" height="30"></iconify-icon>
        </a>
      </div>
    </div>

    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="../../script/script.js"></script>
  </body>
</html>
