<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Summary Topik</title>
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../css/summary-guru.css" />

    <!-- Icon -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- Loader -->
    <div id="loader">
      <div class="loader">
        <span class="loader-page"></span>
      </div>
    </div>

    <div class="container">
      <!-- header -->
      <div class="header-nav">
        <div class="icon">
          <a href="#">
            <i class="fa-solid fa-arrow-left fa-xl" style="color: #000"></i>
          </a>
        </div>
        <div class="title">
          <p>Summary</p>
        </div>
      </div>
      <div class="profil">
        <img src="../../img/teacher.png" alt="" />
        <p class="name">Wagimin, S.Pd, M.Pd</p>
        <p class="mapel">Pendidikan Pancasila dan Kewarganegaraan</p>
      </div>
      <div class="content">
        <div class="item">
          <div class="sub-item">
            <iconify-icon icon="game-icons:graduate-cap" style="font-size: large"></iconify-icon>
            <p>Ujian</p>
            <p class="sum">3</p>
          </div>
          <div class="sub-item2">
            <iconify-icon icon="ph:files-fill" style="font-size: large"></iconify-icon>
            <p>Files</p>
            <p class="sum">3</p>
          </div>
          <div class="sub-item3">
            <iconify-icon icon="mingcute:check-fill"></iconify-icon>
            <p>Files</p>
            <p class="sum">3</p>
          </div>
        </div>
        <div class="item2">
          <p>Total Tasks:</p>
          <p>6</p>
        </div>
      </div>
      <div class="nav">
        <a href="../Guru/summary-topik.html">
          <p>Topik</p>
        </a>
        <p class="nav-active">Materi</p>
        <a href="../Guru/summary-files.html">
          <p>Files</p>
        </a>
      </div>
      <a href="../Ujian/" style="text-decoration: none; color: inherit">
        <div class="ujian">
          <iconify-icon icon="fluent:task-list-square-16-filled" style="font-size: 1.5rem"></iconify-icon>
          <div>
            <p>Ujian Uji Coba Ke 1</p>
            <p>Deskripsi</p>
          </div>
        </div>
      </a>
      <div class="ujian">
        <iconify-icon icon="fluent:task-list-square-16-filled" style="font-size: 1.5rem"></iconify-icon>
        <div>
          <p>Ujian Uji Coba Ke 1</p>
          <p>Deskripsi</p>
        </div>
      </div>
      <!-- Bar -->
      <div class="bar">
        <a href="../Dashboard/" class="home">
          <iconify-icon icon="mingcute:home-5-fill" width="30" height="30" class=""></iconify-icon>
        </a>
        <a href="./index.html" class="guru">
          <iconify-icon icon="fa6-solid:user-group" width="30" height="30" class="active"></iconify-icon>
        </a>
        <a href="../Notifikasi/" class="notif">
          <iconify-icon icon="ion:notifications" width="30" height="30"></iconify-icon>
        </a>
        <a href="../Profile/" class="profile">
          <iconify-icon icon="heroicons-solid:user" width="30" height="30"></iconify-icon>
        </a>
      </div>
    </div>

    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="../../script/script.js"></script>
  </body>
</html>
