<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/notifikasi.css" />
    <link rel="stylesheet" href="../../css/reset.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
    <title>Notifikasi</title>
  </head>
  <body>
    <!-- Loader -->
    <div id="loader">
      <div class="loader">
        <span class="loader-page"></span>
      </div>
    </div>

    <div class="container">
      <!-- Header -->
      <div class="header">
        <p>Notifikasi</p>
      </div>
      <!-- Notifikasi Body -->
      <div class="notifikasi">
        <!-- Terbaru -->
        <div class="label"><p>New</p></div>
        <a href="">
          <div class="wrapper">
            <div class="content">
              <div class="gambar">
                <img src="../../img/notifikasi.png" alt="Notifikasi" />
              </div>
              <div class="keterangan">
                <p>Ujian Matematika</p>
                <p>08 September, 08.30</p>
              </div>
            </div>
          </div>
        </a>
        <a href="">
          <div class="wrapper">
            <div class="content">
              <div class="gambar">
                <img src="../../img/notifikasi.png" alt="Notifikasi" />
              </div>
              <div class="keterangan">
                <p>Ujian Matematika</p>
                <p>08 September, 08.30</p>
              </div>
            </div>
          </div>
        </a>
        <a href="">
          <div class="wrapper">
            <div class="content">
              <div class="gambar">
                <img src="../../img/notifikasi.png" alt="Notifikasi" />
              </div>
              <div class="keterangan">
                <p>Ujian Matematika</p>
                <p>08 September, 08.30</p>
              </div>
            </div>
          </div>
        </a>

        <!-- Bulan Ini -->
        <div class="label"><p>Bulan ini</p></div>
        <a href="">
          <div class="wrapper">
            <div class="content">
              <div class="gambar">
                <img src="../../img/notifikasi.png" alt="Notifikasi" />
              </div>
              <div class="keterangan">
                <p>Ujian Matematika</p>
                <p>08 September, 08.30</p>
              </div>
            </div>
          </div>
        </a>
        <a href="">
          <div class="wrapper">
            <div class="content">
              <div class="gambar">
                <img src="../../img/notifikasi.png" alt="Notifikasi" />
              </div>
              <div class="keterangan">
                <p>Ujian Matematika</p>
                <p>08 September, 08.30</p>
              </div>
            </div>
          </div>
        </a>
        <a href="">
          <div class="wrapper">
            <div class="content">
              <div class="gambar">
                <img src="../../img/notifikasi.png" alt="Notifikasi" />
              </div>
              <div class="keterangan">
                <p>Ujian Matematika</p>
                <p>08 September, 08.30</p>
              </div>
            </div>
          </div>
        </a>
        <a href="">
          <div class="wrapper">
            <div class="content">
              <div class="gambar">
                <img src="../../img/notifikasi.png" alt="Notifikasi" />
              </div>
              <div class="keterangan">
                <p>Ujian Matematika</p>
                <p>08 September, 08.30</p>
              </div>
            </div>
          </div>
        </a>
        <a href="">
          <div class="wrapper">
            <div class="content">
              <div class="gambar">
                <img src="../../img/notifikasi.png" alt="Notifikasi" />
              </div>
              <div class="keterangan">
                <p>Ujian Matematika</p>
                <p>08 September, 08.30</p>
              </div>
            </div>
          </div>
        </a>
        <a href="">
          <div class="wrapper">
            <div class="content">
              <div class="gambar">
                <img src="../../img/notifikasi.png" alt="Notifikasi" />
              </div>
              <div class="keterangan">
                <p>Ujian Matematika</p>
                <p>08 September, 08.30</p>
              </div>
            </div>
          </div>
        </a>

        <!-- Bar -->
        <div class="bar">
          <a href="../Dashboard/" class="home">
            <iconify-icon icon="mingcute:home-5-fill" width="30" height="30"></iconify-icon>
          </a>
          <a href="../Guru/" class="guru">
            <iconify-icon icon="fa6-solid:user-group" width="30" height="30"></iconify-icon>
          </a>
          <a href="./index.html" class="notif">
            <iconify-icon icon="ion:notifications" width="30" height="30" class="active"></iconify-icon>
            <div class="mark"></div>
          </a>
          <a href="../Profile/" class="profile">
            <iconify-icon icon="heroicons-solid:user" width="30" height="30"></iconify-icon>
          </a>
        </div>
      </div>
    </div>

    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="../../script/script.js"></script>
  </body>
</html>
