<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../css/hasil-ujian.css" />

    <!-- Icon -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title>Hasil Ujian</title>
  </head>
  <body>
    <!-- Loader -->
    <div id="loader">
      <div class="loader">
        <span class="loader-page"></span>
      </div>
    </div>

    <div class="container">
      <!-- Header -->
      <div class="header">
        <p>Ujian</p>
      </div>

      <!-- Isi -->
      <div class="isi">
        <div class="gambar">
          <!-- <div class="kiri">
            <img src="../../img/sparkles-4.png" alt="" class="sparkles-1" />
            <img src="../../img/sparkles-3.png" alt="" class="sparkles-2" />
          </div> -->
          <img src="../../img/ujian-image-thropy hd.png" alt="Ujian" />
          <!-- <div class="kanan">
            <img src="../../img/sparkles-1.png" alt="" class="sparkles-3" />
            <img src="../../img/sparkles-2.png" alt="" class="sparkles-4" />
          </div> -->
        </div>

        <div class="selesai">
          <p>Ujian Telah Selesai !</p>
          <p>Terimakasih telah menyelesaikan ujian.</p>
          <p>Silahkan kembali ke Menu Utama !</p>
        </div>

        <div class="alert">
          <i class="fa-solid fa-square-check fa-xl"></i>
          <div class="deskripsi">
            <p>MAAF hasil nilai ditutup oleh Guru</p>
            <p>Hasil nilai tidak diizinkan dilihat oleh Guru Anda</p>
          </div>
        </div>

        <div class="hasil">
          <p class="judul">Ujian Coba Ke-1</p>
          <div class="kotak">
            <div class="guru">
              <div class="icon">
                <iconify-icon icon="la:user-tie" width="20px"></iconify-icon>
              </div>
              <div class="keterangan">
                <p class="title">Guru</p>
                <p class="desc">Wagimin, S.Pd, M.Pd</p>
              </div>
            </div>
            <div class="garis"></div>
            <div class="total-waktu">
              <div class="icon">
                <iconify-icon icon="gg:sand-clock" width="20px"></iconify-icon>
              </div>
              <div class="keterangan">
                <p class="title">Total Waktu</p>
                <p class="desc">-</p>
              </div>
            </div>
            <div class="garis"></div>
            <div class="waktu">
              <div class="icon">
                <iconify-icon icon="iconamoon:clock-light" width="20px"></iconify-icon>
              </div>
              <div class="keterangan">
                <p class="title">Waktu</p>
                <p class="desc">-</p>
              </div>
            </div>
          </div>
        </div>

        <button onclick="window.location.href='../Dashboard/'">Kembali Ke Home</button>
      </div>
    </div>

    <!-- Icon -->
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

    <script src="../../script/script.js"></script>
  </body>
</html>
