<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mulai Ujian</title>
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../css/mulai-ujian.css" />
  </head>
  <body>
    <!-- Loader -->
    <div id="loader">
      <div class="loader">
        <span class="loader-page"></span>
      </div>
    </div>

    <div class="header">
      <a href="../Guru/summary-topik.html">
        <div class="icon">
          <iconify-icon icon="octicon:arrow-left-16" style="font-size: 1.5rem"></iconify-icon>
        </div>
      </a>
      <div class="title">
        <p>Ujian</p>
      </div>
    </div>

    <div class="content">
      <div class="judul1">Ujian Uji Coba Ke-1</div>
      <div class="judul">Pendidikan Pancasila dan Kewarganegaraan</div>
      <div class="sub-content">
        <div class="guru">
          <div class="icon1">
            <iconify-icon icon="la:user-tie"></iconify-icon>
            <p>Guru</p>
          </div>
          <div class="nama">
            <p>Wagimin, S.Pd, M.Pd</p>
          </div>
        </div>
        <div class="garis"></div>
        <div class="waktu">
          <div class="icon1">
            <iconify-icon icon="wi:time-9"></iconify-icon>
            <p>Waktu</p>
          </div>
          <div class="nama">
            <p>10.00 WIB - 11.00 WIB</p>
          </div>
        </div>
        <div class="garis"></div>
        <div class="waktu">
          <div class="icon1">
            <iconify-icon icon="lucide:calendar-days"></iconify-icon>
            <p>Hari, tanggal</p>
          </div>
          <div class="nama">
            <p>Jumat, 04 Agustus 2023</p>
          </div>
        </div>
        <div class="garis"></div>
      </div>
    </div>
    <div class="sub-content2">
      <img src="../../img/rocket.png" alt="" />
      <div class="teks">
        <div class="p1">
          <p>Anda Akan</p>
          <p>Melakukan Ujian</p>
        </div>
        <div class="p2">
          <p>Silahkan klik tombol di bawah ini untuk</p>
          <p>Memulai Ujian</p>
        </div>
      </div>
    </div>
    <div class="btn">
      <button onclick="window.location.href='./ujian.html'">Mulai Ujian</button>
    </div>

    <script src="../../script/script.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
  </body>
</html>
